* {
    margin: 0;
    padding: 0;
}

#cabecalhoPrincipal {
    position: relative;  
    transition: all 0.3s ease; 
}

header {
    width: 100%;
    height: 75px;
    background-color: #B3DB95;
}

header h1{
    width: 0;
    font-family: 'Newsreader', serif;
    font-weight: 200;
    font-style: italic;
    color: #426b1f;
    padding: 10px 0 0 10px;
    margin-left: 8rem;
    margin-top: 10px;
    float: left;
}
/*Inicío estilização do cabeçalho*/
nav {
    float: right;
    margin: 2rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li{
    float: left;
}

nav ul li a{
    text-decoration: none;
    margin-right: 20px;
    font-family: "Inter", sans-serif;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    line-height: 16px;
}

nav ul li a:hover{
    color: #426b1f;
    /* border-bottom: #426b1f; */
}
/*Fim estilização do cabeçalho*/

/*Inicío estilização do conteúdo principal*/
.containerText {
    margin: 5% 25% 5% 25%;
    height: auto;
    text-align: center;
}

.containerText p {
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
}

#cardButton {
    margin-top: 4%;
    background-color: #426b1f;
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: bold;
    font-size: 15px;
    border-radius: 8px;
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

#cardButton:hover {
    background-color: #B3DB95;
}
/**/
.containerPrincipal {
        width: 95%;
        margin: 2rem auto;
        padding: 1rem;
        height: auto;
        overflow: hidden; 
}

.divImagem1{
    display: inline-block;
    height: 80%;
    width: 50%;
    text-align: center;
    margin-top: 40px;
}
#imagem01 {
    margin-left: 5%;
    height: 100%;
    width: 40%;
}
#imagem01:hover {
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
}

#imagem02:hover{
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.05);
}

.divImagem2{
    display: inline-block;
    height: 50%;
    width: 40%;
    margin-left: -2%;
}

.divImagem1 img, .divImagem2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.containerPrincipal p {
    font-family: "Inter", sans-serif;
    text-align: left;
    font-size: 14px;
}

.containerAboutWe {
  overflow: hidden;
  margin: 6% 0 6% 0;
}

.containerAboutWe1  {
    width: 15%;
    float: left;
    margin-left: 5%;
    font-family: "Playfair Display", serif;
    font-size: 1rem;
}

.containerAboutWe2{
    width: 48%;
    float: left;
    text-align: justify;
    margin-left: 5%;
}

.containerAboutWe2 p {
    font-family: "Inter", sans-serif;
    line-height: 28px;
    font-size: 1.2rem;
}

footer {
    display: block;
    height: 90px;
    width: 100%;
    background-color: #B3DB95;
    padding: 0;
    margin: 0;
}

footer div {
    text-align: center;
    height: 100%;
}

footer p {
    font-family: "Playfair Display", serif;
}

#primeiroParagrafo {
    padding-top: 2%;
}